.mainthread {
    display: flex;
    flex: .65;
    flex-direction: column;
    height: 100vh;
}

.mainthread__header {
    display: flex;
    border-bottom: 1px solid rgba(190, 190, 190, .1);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /* padding: 10px 10px; */
}

.mainthread__header__contents {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:center ;
    color: white;
    padding: 10px 20px;
}

.mainthread__header__contents__info > h4  {
    font-weight: 500;
    color: white;
    padding: 5px;
}

.mainthread__header__contents__info > h5 {
    /* padding: 5px; */
    align-content: center;
}

.mainthread__header__details {
    color: blue;
}

.mainthread__header__details:hover {
    color: rgba(1, 150, 199);
}

.mainthread__messages {
    flex: 1;
    overflow: scroll;
}

.mainthread__messages::-webkit-scrollbar{
    display: none;
}

.mainthread__input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border-top: 1px solid rgba(190, 190, 190, .1);
}

.mainthread__input > form {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.mainthread__input > form > input {
    width: 98%;
    outline-width: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 5px;
    color: white;
}

.mainthread__input > form > button {
    color: white;
}

.mainthread__input > form >button:hover {
    color: rgb(2, 150, 199);
}



