.thread {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(190, 190, 190, .1);
    color: white;
    cursor: pointer;
}

.thread:hover {
    background-color: rgba(2, 150, 199);
}

.thread__details {
    margin-left: 15px;
    position: relative;
    width: 100%;
}

.thread__timestamp {
    position: absolute;
    top: 5px;
    right: 0;
}